.root {

    /*accent = container bg, outline = prominent borders, outlineVariant = soft border colour */
    -background: rgba(81, 50, 133, 0.85);
    -background-green: #1e6522;
    -build-menu-bg: rgba(98, 70, 154, 0.85);
    -foreground: rgba(81, 50, 133, 0.85);
    -hover: #8256f8;
    -surface: #a072eb;
    -surface-2: #b15b68;
    -border: #865fcd;
    -stroke: white;
    -menu-bg: rgba(70, 18, 151, 0.85);
    -menu-icon-bg: rgb(197, 180, 243);
    -menu-icon-hover: rgba(81, 50, 133, 0.85);
    -menu-hover-description: rgba(143, 59, 237, 0.9);
    -text-fill: white;
    -text-fill-dark: #ffffff;
    -accent: #1e0e4e;
    -outline: rgba(189, 185, 197, 0.85);
    -outlineVariant: rgba(136, 85, 225, 0.85);
    -transparent: transparent;
    /*
    - background-colour: -background;
    - text-colour: - foreground;

     */
}
/* Schedule box text */
.root .task-time-label {
    -fx-text-fill: white !important;
}
