.root {

    /*accent = container bg, outline = prominent borders, outlineVariant = soft border colour */
    -background: rgba(81, 50, 133, 0.85);
    -foreground: rgba(160, 113, 239, 0.85);
    -surface: #6f53c3;
    -surface-2: #b15b68;
    -border: black;
    -stroke: black;
    -menu-bg: rgba(70, 18, 151, 0.85);
    -menu-icon-bg: rgba(136, 85, 225, 0.85);
    -menu-icon-hover: rgba(81, 50, 133, 0.85);
    -menu-hover-description:rgba(92, 45, 145, 0.9);
    -text-fill: white;
    -text-fill-dark: black;
    -accent: #BBBBBB;
    -outline: rgba(189, 185, 197, 0.85);
    -outlineVariant: rgba(136, 85, 225, 0.85);
    -transparent: transparent;
    /*
    - background-colour: -background;
    - text-colour: - foreground;

     */
}