@import url('https://fonts.cdnfonts.com/css/impact');

.mainPane {

}

.black {
    -fx-background-color: black;
}

.helloText {
    -fx-fill: white;
    -fx-font-family: 'Impact', sans-serif;
    -fx-font-size: 48px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-border-width: 2;
}

.menu {
    -fx-padding: 10;
}